html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: inherit;
}
ol, ul {
	list-style: none;
}

.left{float: left;}
.right{float: right;}
#reka{
    background: url("../image/reka.jpg") no-repeat;
    height: 253px;
    background-size: 100%;
   }
.header {
    display: inline-block;
    height: 130px;
}
.nav {
    
    height: 60px;
    width: 880px;
    border-radius: 8px;
    background-color: #bdeef0;
    margin-left: 465px;
    margin-top: 74px;
    }
.logo {
    margin: 10px 5px;
}
.nav li{
    float: left;
    margin-right: 40px;
    margin-left: 60px;
    margin-top: 20px;
}
.nav li:last-child{margin-right: 0;}
.nav a{
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
    text-decoration:none;
}
.nav a:hover{
    color: #fed136;
}
.poisk {position: absolute;
        left: 1169px;
         top: 20px;}
 .content{ 
     width:100%; 
     height: auto;
     background:#fff; 
     margin-bottom:50px; 
     margin: 20px auto;
     max-width: 1290px;
     display: block;
     min-height:100%;
     height:auto;
     }

.content1{
    width:70%; 
    height: auto;
    background:#fff; 
    float: left;
    margin-right: 10px;
    }
.content1 h1{
    margin: 10px;
    font-size: 40px;
}
.karta {
   margin: 25px 15px;
}
.content2{
     width:28%; 
     height: auto;
     background:#fff; 
     float: right;
     }
.info {
    background: #ecfcf5;
    position: relative;
    padding: 12px;
    margin-bottom: 15px;
}
.info p{
    padding-bottom: 10px;
   <!--line-height: 1.5;--> 
}
.infotext {font-size: 24px;
    line-height: 32px;
    margin: 0 0 15px -12px;
    padding: 0 0 0 12px;
    border-left: 5px solid #7d2511;
    border-left-color: #117d4c;}
.pogoda{
    background: #ecfcf5;
    position: relative;
    padding: 12px;
    margin-bottom: 15px;
}
.pogodatext{
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 15px -12px;
    padding: 0 0 0 12px;
    border-left: 5px solid #7d2511;
    border-left-color: #117d4c;
}
.video{
    background: #ecfcf5;
    position: relative;
    padding: 12px;
    margin-bottom: 15px;
}
.videotext{
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 15px -12px;
    padding: 0 0 0 12px;
    border-left: 5px solid #7d2511;
    border-left-color: #117d4c;
}
.clear{
     clear: both;}
.lin{
    height: 3px;
    background-color: red;
    margin-top: 30px;}
.footer{
    color: black;
    background: green;
}